.btn {
    border-radius: 10px;
    background: white;
    border-width: 2px;
    color: black;

    &.btn-sm {
        padding: 2px 6px;
        border-radius: 8px;
        font-size: 12px;
    }

    &.btn-md {
        border-radius: 8px;
        padding: 4px 8px;
    }

    &.btn-primary {
        &:hover {
            background: $primary;
            border-color: $primary;
        }
    }

    &.btn-secondary {
        &:hover {
            background: $secondary;
            border-color: $secondary;
        }
    }

    &.btn-danger {
        &:hover {
            background: $danger;
            border-color: $danger;
        }
    }
}