<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to Simsy CMS !{% endblock %}</title>
    {{ encore_entry_script_tags('simsy') }}
    {{ encore_entry_link_tags('simsy') }}
</head>
<body>
<div class="d-flex min-height-100vh">
    {% block sidebar %}
        {% include '@SimsyCMS/sidebar.html.twig' %}
    {% endblock %}

    <div class="container-fluid p-4">
        <div class="card">
            <div class="card-body">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
