{% if sections is defined %}
    <p>{{ 'simsy_cms.section.hint'|trans }}</p>

    <div id="page-section-frame" data-page-id="{{ page.id }}">
        {% for section in sections %}
            {% include '@SimsyCMS/admin/section/_show.html.twig' %}
        {% endfor %}
    </div>
    <div class="btn btn-primary float-end mt-3" id="page-section-add" data-url="{{ path('simsy_cms_admin_section_create', { id: 0 }) }}">{{ 'simsy_cms.section.add'|trans }}</div>
{% endif %}