{{ form_start(form) }}

{{ form_widget(form) }}

<button type="submit" class="btn btn-primary float-end" onclick="this.parentNode.parentNode.querySelector('.close-block-selector-toggle').click()">{{ 'simsy_cms.save'|trans }}</button>

{{ form_end(form) }}