<turbo-frame id="section-{{ section.id }}-block-select-frame-{{ blockId }}">
    {% include '@SimsyCMS/block/_form.html.twig' %}
    <a href="{{ path('simsy_cms_block_select', { sectionId: section.id, blockId: blockId }) }}"
       class="btn btn-secondary close-block-selector-toggle">{{ 'simsy_cms.cancel'|trans }}</a>
</turbo-frame>