{% extends '@SimsyCMS/layout.html.twig' %}

{% block body %}

    <turbo-frame id="right-panel-frame">
        {% include '@SimsyCMS/page/_form.html.twig' %}

        {% if app.request.query.get('success') %}
            <div id="close-right-panel"></div>
        {% endif %}
    </turbo-frame>

{% endblock %}