{% extends '@SimsyCMS/layout.html.twig' %}

{% block body %}

    <h1>
        {{ 'simsy_cms.edit'|trans }}
        <div class="btn btn-secondary float-end mt-3"
             id="page-configuration-edit">{{ 'simsy_cms.page.edit_configuration'|trans }}</div>
    </h1>

    {% include '@SimsyCMS/page/_edit_body.html.twig' %}

{% endblock %}