{% extends '@SimsyCMS/layout.html.twig' %}

{% block body %}

    <h1>
        Edit page
        <div class="btn btn-secondary float-end mt-3" id="page-configuration-edit">Edit configuration</div>
    </h1>

    {% include '@SimsyCMS/page/_edit_body.html.twig' %}

{% endblock %}