{% extends '@SimsyCMS/layout.html.twig' %}

{% block body %}

    <h1>
        All pages
        <a href="{{ path('simsy_cms_page_create') }}" class="btn btn-primary float-end">Create</a>
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.name }}</td>
                <td>{{ page.description }}</td>
                <td class="d-flex justify-content-end">
                    <a class="btn btn-sm btn-secondary me-2" href="{{ path('simsy_cms_page_edit', {id: page.id}) }}">edit</a>
                    {% include '@SimsyCMS/page/_delete_form.html.twig' %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}